POSTGRES_USER=telefonia
POSTGRES_PASSWORD=telefonia_dev
POSTGRES_DB=telefonia
DATABASE_URL=postgres://telefonia:telefonia_dev@postgres:5432/telefonia

BACKEND_PORT=3000
FRONTEND_PORT=5173
FRONTEND_ORIGIN=http://localhost:5173

AUTH_ENABLED=true
AUTH_USERNAME=admin
AUTH_PASSWORD=telefonia_admin_dev
AUTH_TOKEN_SECRET=telefonia_local_secret_change_me
AUTH_TOKEN_TTL_SECONDS=28800

FLOCI_ENABLED=true
FLOCI_ENDPOINT=http://floci:4566
FLOCI_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
CALL_EVENTS_QUEUE_NAME=call-events
EVIDENCE_BUCKET_NAME=telefonia-evidencias

AMI_ENABLED=true
AMI_HOST=freepbx
AMI_PORT=5038
AMI_USERNAME=telefonia
AMI_SECRET=telefonia_ami_dev

FREEPBX_HTTP_PORT=8081
FREEPBX_HTTPS_PORT=8443
FREEPBX_DB_HOST=freepbx-db
FREEPBX_DB_PORT=3306
FREEPBX_DB_ROOT_PASSWORD=freepbx_root_dev
FREEPBX_DB_USER=freepbxuser
FREEPBX_DB_PASSWORD=freepbx_dev
FREEPBX_CDR_DATABASE=asteriskcdrdb
CDR_ENABLED=true
CALL_RECORDING_ENABLED=true
ASTERISK_RECORDINGS_PATH=/freepbx-var/spool/asterisk/monitor
FREEPBX_PROVISIONER_ENABLED=true
FREEPBX_PROVISIONER_URL=http://freepbx/provisioner.php
FREEPBX_PROVISIONER_TOKEN=telefonia_provisioner_dev

TZ=America/Lima
